<section class="about-me-section-cont" id="about-me-section">
  <div class="container">
    <h2 class="visually-hidden">About Me</h2>

    <div class="about-photo-and-text-container">
      <div class="about-text">
        <p class="about-description">
          I work with people all over the world to create impressive and
          <span class="about-highlight about-highlight-red">functional</span>
          <span class="about-highlight">websites</span> that reflect each
          client's unique personality.
        </p>
      </div>

      <picture class="about-photo">
        <source
          srcset="/img/img/about-me-desktop.jpg"
          media="(min-width: 1440px)" type="image/webp"
        />
        <source
          srcset="/img/img/about-me-tablet.jpg"
          media="(min-width: 768px)" type="image/webp"
        />
        <img
          src="/img/img/about-me-mobile.jpg"
          alt="Lloyd Jefferson working on a laptop" 
        />
      </picture>
    </div>

    <picture class="about-photo">
      <source
        srcset="../img/img/about-me-desktop.jpg"
        media="(min-width: 1440px)"
      />
      <source
        srcset="../img/img/about-me-tablet.jpg"
        media="(min-width: 768px)"
      />
      <img
        src="../img/img/about-me-mobile.jpg"
        alt="Lloyd Jefferson working on a laptop"
      />
    </picture>
</div>
    <ul class="about-experience-list" id="accordion-container">
      <li class="about-experience-list-element ac">
        <div class="about-experience-list-header">
          <h3 class="about-experience-list-titel ac-header">ABOUT ME</h3>
          <div class="about-experience-list-logo-container ac-trigger">
            <svg class="about-icon" width="36" height="36">
              <use href="../img/svg/all-svg.svg#icon-down-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="ac-panel">
          <p
            class="about-experience-list-text about-experience-list-text-decoration"
          >
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages ​​and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p class="about-experience-list-text">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </li>
      <li class="about-experience-list-element ac">
        <div class="about-experience-list-header">
          <h3 class="about-experience-list-titel ac-header">ROLE</h3>
          <div class="about-experience-list-logo-container ac-trigger">
            <svg class="about-icon" width="36" height="36">
              <use href="../img/svg/all-svg.svg#icon-down-arrow"></use>
            </svg>
          </div>
        </div>

        <ul class="ac-panel">
          <li class="about-experience-list-text">Frontend development</li>
          <li class="about-experience-list-text">HeadlessCMS,Wordpress</li>
          <li class="about-experience-list-text">Blender(enjoy)</li>
        </ul>
      </li>
      <li class="about-experience-list-element ac">
        <div class="about-experience-list-header">
          <h3 class="about-experience-list-titel ac-header">EDUCATION</h3>
          <div class="about-experience-list-logo-container ac-trigger">
            <svg class="about-icon" width="36" height="36">
              <use href="../img/svg/all-svg.svg#icon-down-arrow"></use>
            </svg>
          </div>
        </div>

        <ul class="ac-panel">
          <li class="about-experience-list-text">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </li>
          <li class="about-experience-list-text">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </li>
          <li class="about-experience-list-text">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </li>
        </ul>
      </li>
    </ul>

    
    <div class="about-slider swiper">
      <ul class="swiper-wrapper conn">
        <li class="swiper-slide active">HTML/CSS</li>
        <li class="swiper-slide swiper-slide-cover">JavaScript</li>
        <li class="swiper-slide swiper-slide-cover">React</li>
        <li class="swiper-slide swiper-slide-cover">Node.js</li>
        <li class="swiper-slide swiper-slide-cover">React Native</li>
        <li class="swiper-slide swiper-slide-cover">Soft skills</li>
        <li class="swiper-slide swiper-slide-cover">Figma</li>
      </ul>

            <div class="swiper-slide-cover">
                <button class="swiper-button-next" type="button">
                    <svg class="swiper-svg" width="28" height="28">
                        <use href="../img/svg/all-svg.svg#icon-right-arrow"></use>
                    </svg>
                </button>
              </div>
        
    
    </div>
    
  </div>
</section>
