<section class="covers">
  <h1 class="visually-hidden">animated-section</h1>

  <div class="covers-content">
    <div class="covers-animation">
      <ul class="covers-list scrolling-list">
        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle1.webp 1x, /img/img/Rectangle1@2x.webp 2x"
            src="/img/img/Rectangle1.webp"
            alt="StarlightStudio project"
          />
        </li>

        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle3.webp 1x, /img/img/Rectangle3@2x.webp 2x"
            src="/img/img/Rectangle3.webp"
            alt="fruitbox project"
          />
        </li>

        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle5.webp 1x, /img/img/Rectangle5@2x.webp 2x"
            src="/img/img/Rectangle5.webp"
            alt="mimino project"
          />
        </li>

        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle7.webp 1x, /img/img/Rectangle7@2x.webp 2x"
            src="/img/img/Rectangle7.webp"
            alt="green.harvest project"
          />
        </li>

        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle9.webp 1x, /img/img/Rectangle9@2x.webp 2x"
            src="/img/img/Rectangle9.webp"
            alt="wallet project"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle2.webp 1x, /img/img/Rectangle2@2x.webp 2x"
            src="/img/img/Rectangle2.webp"
            alt="energy.flow project"
          />
        </li>

        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle3.webp 1x, /img/img/Rectangle3@2x.webp 2x"
            src="/img/img/Rectangle3.webp"
            alt="fruitbox project"
          />
        </li>

        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle5.webp 1x, /img/img/Rectangle5@2x.webp 2x"
            src="/img/img/Rectangle5.webp"
            alt="mimino project"
          />
        </li>

        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle4.webp 1x, /img/img/Rectangle4@2x.webp 2x"
            src="/img/img/Rectangle4.webp"
            alt="chego jewelry project"
          />
        </li>

        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle6.webp 1x, /img/img/Rectangle6@2x.webp 2x"
            src="/img/img/Rectangle6.webp"
            alt="Ukranian clothes project"
          />
        </li>

        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle8.webp 1x, /img/img/Rectangle8@2x.webp 2x"
            src="/img/img/Rectangle8.webp"
            alt="PowerPulse project"
          />
        </li>

        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="
              /img/img/Rectangle10.webp    1x,
              /img/img/Rectangle10@2x.webp 2x
            "
            src="/img/img/Rectangle10.webp"
            alt="englishexcellence project"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle1.webp 1x, /img/img/Rectangle1@2x.webp 2x"
            src="/img/img/Rectangle1.webp"
            alt="StarlightStudio project"
          />
        </li>

        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle7.webp 1x, /img/img/Rectangle7@2x.webp 2x"
            src="/img/img/Rectangle7.webp"
            alt="green.harvest project"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle9.webp 1x, /img/img/Rectangle9@2x.webp 2x"
            src="/img/img/Rectangle9.webp"
            alt="wallet project"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle2.webp 1x, /img/img/Rectangle2@2x.webp 2x"
            src="/img/img/Rectangle2.webp"
            alt="energy.flow project"
          />
        </li>

        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle6.webp 1x, /img/img/Rectangle6@2x.webp 2x"
            src="/img/img/Rectangle6.webp"
            alt="Ukranian clothes project"
          />
        </li>

        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle8.webp 1x, /img/img/Rectangle8@2x.webp 2x"
            src="/img/img/Rectangle8.webp"
            alt="PowerPulse project"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle9.webp 1x, /img/img/Rectangle9@2x.webp 2x"
            src="/img/img/Rectangle9.webp"
            alt="wallet project"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle2.webp 1x, /img/img/Rectangle2@2x.webp 2x"
            src="/img/img/Rectangle2.webp"
            alt="energy.flow project"
          />
        </li>

        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle4.webp 1x, /img/img/Rectangle4@2x.webp 2x"
            src="/img/img/Rectangle4.webp"
            alt="chego jewelry project"
          />
        </li>

        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle6.webp 1x, /img/img/Rectangle6@2x.webp 2x"
            src="/img/img/Rectangle6.webp"
            alt="Ukranian clothes project"
          />
        </li>

        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle8.webp 1x, /img/img/Rectangle8@2x.webp 2x"
            src="/img/img/Rectangle8.webp"
            alt="PowerPulse project"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle9.webp 1x, /img/img/Rectangle9@2x.webp 2x"
            src="/img/img/Rectangle9.webp"
            alt="wallet project"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle2.webp 1x, /img/img/Rectangle2@2x.webp 2x"
            src="/img/img/Rectangle2.webp"
            alt="energy.flow project"
          />
        </li>

        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle4.webp 1x, /img/img/Rectangle4@2x.webp 2x"
            src="/img/img/Rectangle4.webp"
            alt="chego jewelry project"
          />
        </li>

        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle4.webp 1x, /img/img/Rectangle4@2x.webp 2x"
            src="/img/img/Rectangle4.webp"
            alt="chego jewelry project"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle4.webp 1x, /img/img/Rectangle4@2x.webp 2x"
            src="/img/img/Rectangle4.webp"
            alt="chego jewelry project"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle6.webp 1x, /img/img/Rectangle6@2x.webp 2x"
            src="/img/img/Rectangle6.webp"
            alt="Ukranian clothes project"
          />
        </li>

        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle8.webp 1x, /img/img/Rectangle8@2x.webp 2x"
            src="/img/img/Rectangle8.webp"
            alt="PowerPulse project"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle9.webp 1x, /img/img/Rectangle9@2x.webp 2x"
            src="/img/img/Rectangle9.webp"
            alt="wallet project"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle2.webp 1x, /img/img/Rectangle2@2x.webp 2x"
            src="/img/img/Rectangle2.webp"
            alt="energy.flow project"
          />
        </li>

        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle6.webp 1x, /img/img/Rectangle6@2x.webp 2x"
            src="/img/img/Rectangle6.webp"
            alt="Ukranian clothes project"
          />
        </li>

        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle8.webp 1x, /img/img/Rectangle8@2x.webp 2x"
            src="/img/img/Rectangle8.webp"
            alt="PowerPulse project"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle9.webp 1x, /img/img/Rectangle9@2x.webp 2x"
            src="/img/img/Rectangle9.webp"
            alt="wallet project"
          />
        </li>

        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle6.webp 1x, /img/img/Rectangle6@2x.webp 2x"
            src="/img/img/Rectangle6.webp"
            alt="Ukranian clothes project"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle2.webp 1x, /img/img/Rectangle2@2x.webp 2x"
            src="/img/img/Rectangle2.webp"
            alt="energy.flow project"
          />
        </li>

        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle8.webp 1x, /img/img/Rectangle8@2x.webp 2x"
            src="/img/img/Rectangle8.webp"
            alt="PowerPulse project"
          />
        </li>

        <li class="covers-item">
          <img
            class="covers-animation-img"
            srcset="/img/img/Rectangle4.webp 1x, /img/img/Rectangle4@2x.webp 2x"
            src="/img/img/Rectangle4.webp"
            alt="chego jewelry project"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
