<footer class="footer" id="order-project">
  <div class="footer-container container">
    <div class="footer-content">
      <div class="footer-title">
        <img
          class="footer-logo"
          src="/img/img/logo.jpg"
          width="44"
          height="44"
          alt="Foto Lloyd"
        />
        <h2 class="logo-text">
          Let's <span class="footer-accent-color">work</span> together
        </h2>
      </div>

      <div class="footer-form-container">
        <form class="footer-form">
          <div class="footer-form-item">
            <label for="user-email"
              ><input
                class="footer-form-input"
                type="email"
                id="user-email"
                name="user-email"
                placeholder="clients@gmail.com"
                required
                pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
              />
            </label>
            <p id="footer-error" class="error">Invalid email, try again</p>
            <p id="footer-success" class="success">Succes!</p>
          </div>
          <div class="footer-form-item">
            <label for="user-comments"
              ><input
                class="footer-form-input"
                type="text"
                id="user-comments"
                name="user-comments"
                placeholder="comments"
                required
            /></label>
          </div>
        </form>
        <button class="footer-button" type="submit">Send</button>
      </div>

      <address class="footer-contacts">
        <ul class="footer-contacts-list">
          <li class="footer-contacts-item">
            <a
              class="footer-contacts-link"
              href="mailto:lloydjefferson@gmail.com"
              >lloydjefferson@gmail.com</a
            >
          </li>
          <li class="footer-contacts-item">
            <a class="footer-contacts-link" href="tel:+3801111111111"
              >+380 11 1111 11 11</a
            >
          </li>
        </ul>
      </address>

      <div id="modal-footer" class="modal-footer container">
        <svg class="close-modal" width="14" height="14">
          <use href="/img/svg/all-svg.svg#icon-close"></use>
        </svg>
        <div class="modal-text">
          <h2 id="modal-title"></h2>
          <p id="modal-message"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</footer>
