<header class="page-header">
  <div class="container header-container">
    <div class="logo-container">
      <img
        class="logo-header"
        srcset="../img/img/logo@2x.jpg 2x"
        src="../img/img/logo.jpg"
        alt="Lloyod Jefferson"
        width="80"
        height="80"
      />
      <p class="descr-logo">jefferson*</p>
    </div>
    <div class="dropdown">
      <a class="dropdown-btn">Menu</a>
      <ul class="dropdown-content"></ul>
    </div>
    <div class="btn-container-header">
      <button class="btn-order-header">Order the project</button>
    </div>
    <button class="burger-btn" type="button" data-modal-open>
      <svg class="burger-icon" height="12" width="24">
        <use href="../img/svg/all-svg.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
