<header class="container page-header">
  <div class="header-container">
    <div class="logo-container">
      <img
        class="logo-header"
        srcset="../img/img/logo@2x.jpg 2x"
        src="../img/img/logo.jpg"
        alt="Lloyod Jefferson"
        width="80"
        height="80"
      />
      <p class="descr-logo">jefferson*</p>
    </div>
    <div class="dropdown">
      <button class="dropdown-btn">Menu</button>
      <ul class="dropdown-content"></ul>
    </div>
      <a class="btn-order-header" href="#footer"> Order the project </a>
    <button class="burger-btn" type="button" data-modal-open>
      <svg class="burger-icon" height="28" width="28">
        <use href="../img/svg/all-svg.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
