<section class="hero-image">
  <div class="hero-section container">
    <h1 class="hero-h">
      Hello. <br />
      I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <ul class="hero-list">
      <li class="hero-link theme-button">
        <button id="rollButton" class="hero-button">
          <svg width="34" height="34">
            <use href="/img/svg/all-svg.svg#icon-refresh"></use>
          </svg>
        </button>
      </li>
      <li class="hero-link">
        <a href="https://www.instagram.com/goitclub/" target="_blank">IG</a>
      </li>
      <li class="hero-link">
        <a href="https://www.youtube.com/c/GoIT " target="_blank">FB</a>
      </li>
      <li class="hero-link">
        <a href="https://www.facebook.com/goITclub/   " target="_blank">YT</a>
      </li>
      <li class="hero-link">
        <a href="https://github.com/pippsza/js-project" target="_blank">GH</a>
      </li>
      <li class="hero-link">
        <a href="mailto:lloydjefferson@gmail.com" target="_blank"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
