<div class="mobile-menu mobile-menu-image">
<div class="mobile-menu-container">
    <button class="close-btn-mob-menu">
        <svg class="close-mob-menu" width="28" height="28">
            <use href="../img/svg/all-svg.svg#icon-close"></use>
        </svg>
    </button>
        <nav class="mobile-menu-nav">
            <ul class="mobile-menu-list">
                <li class="mobile-menu-item"><a class="menu-item-link">About me</a></li>
                <li class="mobile-menu-item"><a class="menu-item-link">Benefits</a></li>
                <li class="mobile-menu-item"><a class="menu-item-link">Projects</a></li>
                <li class="mobile-menu-item"><a class="menu-item-link">FAQ</a></li>
            </ul>
        </nav>
    <a class="btn-order-mobile-menu"> Order the project </a>
</div>
</div>
