<div class="mobile-menu mobile-menu-image">
        <button class="close-btn-mob-menu">
        <svg class="close-mob-menu" width="28" height="28">
            <use href="../img/svg/all-svg.svg#icon-close"></use>
        </svg>
    </button>
    <div class="mobile-menu-container">
        <nav class="mobile-menu-nav">
            <ul class="mobile-menu-list">
                <li class="mobile-menu-item"><a class="mobile-item-link" href="#about-me-section">About me</a></li>
                <li class="mobile-menu-item"><a class="mobile-item-link" href="#benefits-section">Benefits</a></li>
                <li class="mobile-menu-item"><a class="mobile-item-link" href="#projects-section">Projects</a></li>
                <li class="mobile-menu-item"><a class="mobile-item-link" href="#FAQ-section">FAQ</a></li>
            </ul>
        </nav>
    <a class="btn-order-mobile-menu" href="#order-project"> Order the project </a>
    </div>
</div>
</div>
