<section class="projects-section" id="projects-section">
  <div class="prj-container container">
    <h2 class="title-prj">Projects</h2>
    <div class="swiper-container prj">
      <div class="swiper sample-slider">
        <ul class="swiper-wrapper slide-prj">
          <!----------      first-slide   ------------->
          <li class="swiper-slide">
            <ul class="project">
              <li class="project-info">
                <div class="tags-prj">
                  <span>#react</span>
                  <span>#js</span>
                  <span>#node js</span>
                  <span>#git</span>
                </div>
                <h3 class="project-text">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </h3>
                <a
                  href="https://github.com/pippsza/js-project.git"
                  target="_blank"
                  class="see-project"
                  rel="noopener noreferrer"
                  >See project</a
                >
              </li>
              <li class="project-image">
                <picture>
                  <source
                    srcset="
                      /img/img/projects-first-img-desktop-tablet.jpg    1x,
                      /img/img/projects-first-img-desktop-tablet@2x.jpg 2x
                    "
                    media="(min-width:768px)"
                  />

                  <source
                    srcset="
                      /img/img/projects-first-img-mobile.jpg    1x,
                      /img/img/projects-first-img-mobile@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    class="project-img"
                    src="/img/img/projects-first-img-mobile.jpg"
                    alt="First project"
                    width="311"
                    height="195"
                  />
                </picture>
              </li>
            </ul>
          </li>

          <!----------      second-slide   ------------>
          <li class="swiper-slide">
            <ul class="project">
              <li class="project-info">
                <ul class="tags-prj">
                  <li>#react</li>
                  <li>#js</li>
                  <li>#node js</li>
                  <li>#git</li>
                </ul>
                <h3 class="project-text">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </h3>
                <a
                  href="https://github.com/pippsza/js-project.git"
                  target="_blank"
                  class="see-project"
                  >See project</a
                >
              </li>
              <li class="project-image">
                <picture>
                  <source
                    srcset="
                      /img/img/projects-second-img-desktop-tablet.jpg    1x,
                      /img/img/projects-second-img-desktop-tablet@2x.jpg 2x
                    "
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      /img/img/projects-second-img-mobile.jpg    1x,
                      /img/img/projects-second-img-mobile@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    class="project-img"
                    src="/img/img/projects-second-img-mobile.jpg"
                    alt="Second project"
                    width="311"
                    height="195"
                  />
                </picture>
              </li>
            </ul>
          </li>

          <!----------      third-slide   -------------->
          <li class="swiper-slide">
            <ul class="project">
              <li class="project-info">
                <div class="tags-prj">
                  <span>#react</span>
                  <span>#js</span>
                  <span>#node js</span>
                  <span>#git</span>
                </div>
                <h3 class="project-text">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </h3>
                <a
                  href="https://github.com/pippsza/js-project.git"
                  target="_blank"
                  class="see-project"
                  >See project</a
                >
              </li>
              <li class="project-image">
                <picture>
                  <source
                    srcset="
                      /img/img/projects-third-img-desktop-tablet.jpg    1x,
                      /img/img/projects-third-img-desktop-tablet@2x.jpg 2x
                    "
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      /img/img/projects-third-img-mobile.jpg    1x,
                      /img/img/projects-third-img-mobile@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    class="project-img"
                    src="/img/img/projects-third-img-mobile.jpg"
                    alt="Third project"
                    width="311"
                    height="195"
                  />
                </picture>
              </li>
            </ul>
          </li>
        </ul>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

      <div class="prj-buttons">
        <button id="prev-prj" class="button-prev-prj">
          <svg class="icon-prj" width="24" height="24">
            <use xlink:href="/img/svg/all-svg.svg#icon-left-arrow"></use>
          </svg>
        </button>
        <button id="next-prj" class="button-next-prj">
          <svg class="icon-prj" width="24" height="24">
            <use xlink:href="/img/svg/all-svg.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <script type="module" src="/js/projects-section.js"></script>
</section>
