<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<section class="container" id="reviews">
  <h2 class="reviews-title">REVIEWS</h2>
  <div class="swiper-container reviews-container">
    <ul class="swiper-wrapper reviews-wrapper">
      <!-- Відгуки будуть динамічно додані тут -->
    </ul>
    <!-- Приховані стандартні кнопки Swiper -->
    <button
      class="swiper-button-prev reviews"
      aria-label="Previous review"
    ></button>
    <button
      class="swiper-button-next reviews"
      aria-label="Next review"
    ></button>
  </div>
  <!-- Нові кнопки під слайдером -->
  <div class="custom-buttons">
    <button
      id="custom-prev"
      class="button-custom-prev"
      aria-label="Previous review"
    >
      <svg class="icon" width="24" height="24">
        <use xlink:href="/img/svg/all-svg.svg#icon-left-arrow"></use>
      </svg>
    </button>
    <button
      id="custom-next"
      class="button-custom-next"
      aria-label="Next review"
    >
      <svg class="icon" width="24" height="24">
        <use xlink:href="/img/svg/all-svg.svg#icon-right-arrow"></use>
      </svg>
    </button>
  </div>
</section>
