<section id="reviews">
  <h2 class="visually-hidden">Reviews</h2>
  <div class="swiper-container">
    <ul class="swiper-wrapper">
      <!-- Відгуки будуть динамічно додані тут -->
    </ul>
  </div>
  <!-- Кнопки керування слайдером будуть опущені під слайдером -->
  <div class="swiper-buttons">
    <button class="swiper-button-prev" aria-label="Previous review">
      <svg class="icon"><use xlink:href="#icon-more-arrow"></use></svg>
    </button>
    <button class="swiper-button-next" aria-label="Next review">
      <svg class="icon"><use xlink:href="#icon-next-arrow"></use></svg>
    </button>
  </div>
</section>
