:root {
  --common-color: #ed3b44;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;

  background-color: #1c1d20;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  min-width: 100vw;
  min-height: 100vh;
}
