@import 'accordion-js/dist/accordion.min.css';

.ac {
    border: none;
    padding: 0;
    margin: 0;
}

.ac .ac-trigger::after {
    content: none;
}

.faq-section {
    margin-bottom: 64px;
}

.faq-title {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 16px;
    color: rgba(250, 250, 250, 0.4);
}

.faq-item {
    padding: 20px 0;
    border-top: 1px solid rgba(250, 250, 250, 0.2);
    background-color: transparent;
}

.faq-item:last-child {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.faq-list .faq-body-title {
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fafafa;
    background-color: transparent;
}

.faq-icon {
    box-sizing: border-box;
    display: block;
    flex-shrink: 0;
    background-color: transparent;
    fill: none;
    stroke: #fafafa;
    border-radius: 50%;
    border: 1px solid rgba(250, 250, 250, 0.2);
    transition: transform 550ms ease-in-out;
}

.is-active .faq-icon {
    transform: rotate(540deg);
}

.faq-icon-arrow {
    transform: scale(0.6);
    transform-origin: center;
}

.faq-list .faq-panel {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
}

.faq-text {
    margin-top: 16px;
}

@media screen and (min-width: 768px) {

    .faq-section {
        margin-bottom: 96px;
    }

    .faq-item {
        padding: 32px 0;
    }

    .faq-item:last-child {
        padding-bottom: 32px;
    }

    .faq-icon {
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width: 1440px) {

    .faq-section {
        margin-bottom: 164px;
    }

    .faq-list {
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-auto-flow: column;
    }

    .faq-item {
        padding-right: 32px;
        border-right: 1px solid rgba(250, 250, 250, 0.2);
    }

    .faq-item:nth-child(n+4) {
        border-right: none;
        padding-left: 32px;
        padding-right: 0;
    }

    .faq-item:nth-child(3n) {
        border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    }
}