.footer {
  padding: 32px 0;
}
/* .footer-container {
  position: relative;
} */
.footer-content {
  position: relative;
}
.footer-content::before {
  content: '';
  position: absolute;
  top: 0;
  background-image: url(/img/img/footer-bg-mob.png);
  height: 100%;
  width: 100%;
  background-position: top right;
  background-repeat: no-repeat;
  z-index: -1;
}
.footer-title {
  max-width: 300px;
  margin-bottom: 64px;
}
.footer-logo {
  border-radius: 12px;
  width: 44px;
  height: 44px;
  float: left;
  margin-right: 8px;
}
.logo-text {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}
.footer-accent-color {
  color: var(--common-color);
}
.footer-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 64px;
}
.footer-form {
  display: flex;
  flex-direction: column;
}
.footer-form-item {
  display: flex;
  flex-direction: column;
  position: relative;
}
.footer-form-item p {
  position: absolute;
  bottom: -5px;
  left: 0;
  font-size: 14px;
  margin: 0;
  visibility: hidden;
}
.footer-form-input {
  color: rgba(250, 250, 250, 0.6);
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  width: 100%;
  height: 44px;
  padding-bottom: 20px;
  transition: border-bottom 0.8s ease;
}
.footer-form-input:hover,
.footer-form-input:focus {
  color: #fafafa;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}
#user-email.valid {
  border-bottom: 1px solid green;
}
#user-email.invalid {
  border-bottom: 1px solid #e74a3b;
}
.error {
  color: #e74a3b;
  min-height: 20px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-top: 4px;
  visibility: hidden;
}
.success {
  color: #3cbc81;
  min-height: 20px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-top: 4px;
  visibility: hidden;
}
.error.show,
.success.show {
  visibility: visible;
}
/*Обмежуємо поле і ставимо ...*/
.footer-form-input#user-comments {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.footer-form-input#user-content::after {
  content: '...';
  visibility: hidden;
}
.footer-form-input#user-comments:content::after {
  visibility: visible;
}
#user-email {
  margin-bottom: 16px;
}
#user-comments {
  margin-bottom: 32px;
}
.footer-button {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  border: none;
  background-color: var(--common-color);
  transition: background-color 0.8s ease;
}
.footer-button:hover,
.footer-button:focus {
  background-color: var(--common-hover);
}
.footer-contacts {
  font-style: normal;
}
.footer-contacts-list {
  display: flex;
  gap: 4px;
  align-items: flex-start;
}
.footer-contacts-link {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
}
.footer-contacts-item {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  transition: border 0.8s ease;
}
.footer-contacts-item:hover,
.footer-contacts-item:focus {
  border: 1px solid #fafafa;
}
.modal-footer {
  box-sizing: border-box;
  display: none;
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 310px;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  background-color: #1c1d20;
  padding: 64px 32px;
}
.modal-footer.show {
  display: block;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 16, 0.6);
  z-index: 10;
}
.overlay.show {
  display: block;
}
.overflow-hidden {
  overflow: hidden;
}
.modal-text {
  min-width: 279px;
}
.modal-text h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fafafa;
  margin-bottom: 16px;
}
.modal-text p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
}
.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  stroke: #fafafa;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 80px 0px 169px 0px;
  }
  .footer-content::before {
    background-image: url(/img/img/footer-bg-tabl.png);
  }
  .footer-title {
    max-width: 542px;
  }
  .footer-logo {
    border-radius: 24px;
    width: 70px;
    height: 70px;
  }
  .logo-text {
    font-size: 64px;
  }
  .footer-form-container {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 18px;
  }
  .footer-form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer-form-item {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
  }
  .footer-form-item p {
    bottom: -20px;
  }
  .footer-form-input {
    box-sizing: none;
    min-width: 241px;
    margin-bottom: 0;
  }
  .footer-form-item:last-child {
    margin-right: 0;
  }
  #user-comments {
    margin-bottom: 0;
  }
  #user-email {
    margin-bottom: 0;
  }
  .footer-button {
    width: 150px;
    height: 150px;
    padding: 65px 57px;
  }
  .footer-contacts-list {
    gap: 8px;
  }
  .footer-contacts-link {
    font-size: 16px;
  }
  .footer-contacts-item {
    padding: 18px 32px;
  }
  .modal-footer {
    display: none;
    padding: 64px 64px;
    max-width: 494px;
  }
  .modal-text {
    min-width: 364px;
  }
  .modal-text h2 {
    letter-spacing: -0.06em;
  }
  .modal-text p {
    letter-spacing: 0.02em;
  }
  .close-modal {
    width: 24px;
    height: 24px;
  }
}
@media only screen and (min-width: 1440px) {
  .footer {
    display: flex;
    justify-content: center;
  }
  .footer-content::before {
    background-image: url(/img/img/footer-bg-desc.png);
  }
  .footer-content {
    width: 1048px;
  }
  .footer-form-input {
    min-width: 390px;
  }
  .modal-footer {
    max-width: 502px;
  }
}
