.page-header {
  background: transparent;
  position: fixed;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-container {
  max-width: 1376px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.logo-container {
  display: flex;
  margin-right: 143px;
}
.logo-header {
  border-radius: 18px;
  margin-right: 8px;
}
.descr-logo {
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #fafafa;
}
.dropdown {
  display: none;
}
.btn-order-header {
  display: none;
}
.burger-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  stroke: #fafafa;
}
.burger-icon {
  display: block;
  fill: none;
}

/* ----------- Версія для планшетів ----------- */

@media screen and (min-width: 768px) {
.logo-container {
  margin-right: 151px;
}
  .dropdown {
  display: block;
  margin-right: 151px;
  
}
.dropdown-btn {
  font-size: 16px;
  background-color: transparent;
  border: none;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fafafa;
  padding: 10px;

}
.btn-order-header {
  display: flex;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #fafafa;
  border-radius: 60px;
  border-color: transparent;
    padding: 18px 24px;
    max-width: 163px;
    max-height: 55px;
    background: #ed3b44;
    align-items: center;
    justify-content: center;
    cursor: pointer;
} 
.burger-btn {
  display: none;
}
}
/* ----------- Версія для десктопів ----------- */

@media screen and (min-width: 1440px) {
  .logo-container {
      margin-right: 487px;
    }
  
    .dropdown {
      margin-right: 487px;
  
    }
}