.page-header {
  background: transparent;
  transition: backdrop-filter 0.3s ease, background 0.3s ease;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  z-index: 999;
}
.header-container {
  max-width: 1376px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}
.logo-container {
  display: flex;
  margin-right: 143px;
}
.logo-header {
  border-radius: 18px;
  margin-right: 8px;
}
.descr-logo {
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #fafafa;
}
.dropdown-btn {
  display: none;
}
.btn-order-header {
  display: none;
}
.burger-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  stroke: black;
}
.burger-icon {
  display: block;
  fill: none;
}
/* .btn-order-header {
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
  border-radius: 60px;
  border-color: transparent;
    padding: 18px 24px;
    width: 163px;
    height: 55px;
    background: #ed3b44;
} */
.burger-icon {
  display: block;
}
