/* Секція Hero */
/* ----------- Мобільна версія (за замовчуванням) ----------- */
.hero-section {
  text-align: left;
  color: white;

  padding-top: 281px;
  padding-bottom: 32px;
}
.hero-h {
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.hero-image {
  background-image: url(../img/img/Hero-mobile.png);
  background-size: cover;
  background-position: center;
  max-width: 375px;
  height: 812px;
}

/* Поддержка Retina для мобильных устройств */
@media (min-resolution: 192dpi), (min-device-pixel-ratio: 2) {
  .hero-image {
    background-image: url(../img/img/Hero-mobile@2x.png);
  }
}

/* ----------- Версія для планшетів ----------- */

@media screen and (min-width: 768px) {
  .hero-image {
    background-image: url(../img/img/Hero-tablet.png);
    max-width: 768px;
    height: 1024px;
  }
  @media (min-resolution: 192dpi), (min-device-pixel-ratio: 2) {
    .hero-image {
      background-image: url(../img/img/Hero-tablet@2x.png);
    }
  }
}

/* Поддержка Retina для планшетов */

/* ----------- Версія для десктопів ----------- */

@media screen and (min-width: 1440px) {
  .hero-image {
    background-image: url(../img/hero/hero.jpg);
    height: 800px;
    background-size: cover;
  }
  @media (min-resolution: 192dpi), (min-device-pixel-ratio: 2) {
    .hero-image {
      background-image: url(../img/img/Hero-desktop@2x.jpg);
    }
  }
}

/* Поддержка Retina для десктопов */
