.mobile-menu {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  opacity: 0;
  z-index: 6662;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-image {
  position: fixed;

  background-image: url(../img/img/modal-mobile.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 6663;
}
/* Поддержка Retina для мобильных устройств */
@media (min-resolution: 192dpi), (min-device-pixel-ratio: 2) {
  .mobile-menu-image {
    background-image: url(../img/img/modal-mobile@2x.png);
  }
}

.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 289px;
  /* padding-top: 302px; */
  padding: 64px 0;
  justify-content: flex-end;
  align-items: center;
  z-index: 6665;
}

.close-btn-mob-menu {
  position: absolute;
  top: 32px;
  right: 16px;
  border: none;
  background-color: transparent;
  padding: 0;
  stroke: #fafafa;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}
.mobile-item-link {
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fafafa;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-item-link:hover,
.mobile-item-link:focus {
  color: #ed3b44;
}
.no-scroll {
  overflow: hidden;
  height: 100vh;
}
.btn-order-mobile-menu {
  display: flex;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  border-radius: 60px;
  border-color: transparent;
  width: 164px;
  height: 45px;
  background: #ed3b44;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;

  flex-shrink: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-order-mobile-menu:hover,
.btn-order-mobile-menu:focus {
  background-color: #e0373f;
}
/* ----------- Версія для планшетів ----------- */

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
