#reviews {
  padding: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* Стилі для контейнера слайдера */
.swiper-container {
  width: 100%;
  overflow: hidden;
  background: #1c1d20;
}

.swiper-wrapper {
  display: flex;

  gap: 32px;
}

.swiper-slide {
  list-style: none;
  width: auto;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  width: 332px;
  height: 302px;
}

/* Приховані стандартні кнопки Swiper */
.swiper-button-prev,
.swiper-button-next {
  display: none;
}

/* Нові кнопки під слайдером */
.custom-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.custom-buttons button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.custom-buttons button:hover {
  background-color: #0056b3;
}

/* Стилі для контенту відгуків */
.review-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 10px;
}

.review-avatar {
  border-radius: 10px;
  width: 48px;
  height: 48px;
  margin-bottom: 10px;
  background: #e0e0e0, url('path_to_image');
}

.review-author {
  font: 600 20px / 1.5 'Inter Tight', sans-serif;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 5px;
}

.review-text {
  font: 500 16px / 1.5 'Inter Tight', sans-serif;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  margin-top: 5px;
}

/* Додаткові стилі для контейнера слайдера */
.swiper-container {
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  list-style: none;
  width: auto;
}

/* Стилі для кнопок керування слайдером */
.swiper-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.swiper-button-prev,
.swiper-button-next {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 24px;
  height: 24px;
  fill: #000;
}

.icon use {
  pointer-events: none;
}

@media (min-width: 375px) {
  .swiper-slide {
    width: 320px;
  }
}

@media (min-width: 768px) {
  .swiper-slide {
    width: 600px;
  }
}

@media (min-width: 1440px) {
  .swiper-slide {
    width: 800px;
  }
}
